<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-5">
      <div class="td-list-item">
        <div class="td-list-option" cdkDrag>
            <div class="td-list-content">
              <div class="td-list-item-ripple"></div>
              <div class="td-list-item-icon"><i class="fa fa-paragraph"></i></div>
              <div class="td-list-text">Label</div>
            </div>
        </div>
        <div class="td-list-option" cdkDrag>
            <div class="td-list-content">
              <div class="td-list-item-ripple"></div>
              <div class="td-list-item-icon"><i class="fa fa-heading"></i></div>
              <div class="td-list-text">Text box</div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-7">
      <div class="td-box-drop">

      </div>
    </div>
  </div>
</div>
